<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Cheltenham Hackspace Registration
    </title>
</head>
<body>

<div style="background:#ffffff;color:#000!important;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;margin:70px 0 0"
     bgcolor="#FFFFFF">
    <div style="color:#000!important;margin-left:auto;margin-right:auto;max-width:1000px;padding-left:15px;padding-right:15px">
        <div style="color:#000!important;max-width:1000px">
            <div style="color:#000!important;max-width:1000px;min-height:1px;padding-left:15px;padding-right:15px">
                <u></u>

                <h3 style="background:#f9d345;border-bottom-color:#5a5784;border-bottom-width:1px;color:#000!important;font-family:inherit;font-size:1.3em;font-weight:700;letter-spacing:normal;line-height:1.1;margin-bottom:10px;margin-top:20px;padding:8px 11px">
                    Gatherings Registration</h3>

                <p style="color:#000!important;margin:0 5% 10px">Dear {{NAME}}, <br>&nbsp;&nbsp;&nbsp;&nbsp;Thank you
                    for your interest in Cheltenham
                    Hackspace Gatherings. Before you can use your account you must activate your account. You can do
                    so by clicking the link below: </p>

                <br style="color:#000!important">

                <blockquote
                        style="border-color:#999 #999 #999 #eee;border-style:solid;border-width:1px 1px 1px 5px;color:#000!important;font-size:17.5px;margin:0 5% 20px;padding:10px 20px">
                    {{LINK}}
                </blockquote>

                <br style="color:#000!important">

                <p style="color:#000!important;margin:0 5% 10px">
                    Once you have clicked the link you should be able to log in as normal and use your account. If
                    you are unable to log in please contact an admin.

                    <br>
                    <br>

                    Thanks from all at the Cheltenham Hackspace Team.
                </p>
                <u></u>
            </div>
        </div>
    </div>
</div>
</body>
</html>